<html>
    <head>
        <title>Valeria Milshtein Portfolio</title>
    </head>
    <body>
        <h1><strong>Hello,<br>I'm Valeria Milshtein!</strong></h1>
        <h2>I'm a recent graduate at <i>Humber College</i><br>studying Computer Programmer.</h2>
        <p>I'm currently seeking full-time <u>Software Development Job</u>.</p>

        <div>
            <h1><a href="">About Me</a></h1>
            <p>I am a hard worker and a fast learner.
                <br>I’ve got my Masters in Economics in 2012, and recently decided to master a new skill of Computer
                Programming. I am a fresh Computer Programmer graduate from Humber College.
                <br>I am passionate about both frontend and backend development.
                <br>Furthermore, my professional skills include <strong><i>Python, Java, JavaScript, C#, PHP, ASP.NET,
                    XML and HTML/CSS</i></strong>.
                <br>I have experience working with <strong><i>Oracle SQL</i></strong> as well as <strong><i>MySQL
                    databases</i></strong>.
                <br>For development, I use <strong><i>Django, PyCharm, IntelliJ, Visual Studio, NetBeans, SQLDeveloper,
                    Visual Paradigm</i></strong>.
                <br>I am responsible, respectful, punctual, always up for learning something new and useful, and work
                in a fast-paced environment. Also, I love to meet new people, so feel free to connect with me.</p>
        </div>

<!--        <div>-->
<!--            <p>published: 17.11.2021, 12:14</p>-->
<!--            <h2><a href="">My Resume</a></h2>-->
<!--            <p>When you click, my <u>Resume</u> in pdf format will open on the next page.</p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <p>published: 17.11.2021, 12:14</p>-->
<!--            <h2><a href="">My Projects</a></h2>-->
<!--            <p>When you click, my <u>Projects</u> will open on the next page.</p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <p>published: 17.11.2021, 12:14</p>-->
<!--            <h2><a href="">GitHub</a></h2>-->
<!--            <p>When you click, my <u>GitHub</u> will open on the next page.</p>-->
<!--        </div>-->

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
    </body>
</html>
